.searchbar{
    position: relative;
    width: 37px;
    height: 35px;
    background: #eaa862;
    border-radius: 35px;
    transition: 0.5s;
    box-shadow: 0 0 0 2px #76c0b3;
    overflow: hidden;
    left: 180px;
}

.searchbar.active{
    width: 250px;
}

.searchbar .icon{
    position: absolute;
    width: 35px;
    height: 35px;
    background: #eaa862;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.searchbar .icon::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #4B8078;
    border-radius: 50%;
    transform: translate(-2px, -2px);
}

.searchbar .icon::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 10px;
    background: #4B8078;
    border-radius: 50%;
    transform: translate(5px, 5px) rotate(315deg);
}

.searchbar .input{
    position: relative;
    width: 200px;
    height: 36px;
    /*top: 2px;*/
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar .input input{
    background: #eaa862;
    position: absolute;
    top: 0px;
    width: 80%;
    height: 90%;
    border: none;
    outline: none;
    font-size: 18px;
    color: #4B8078;
}

.go{
    position: absolute;
    top: 28%;
    width: 15px;
    height: 15px;
    right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go{
    overflow: hidden;
    right: 1px;
}

.go.active::before{
    right: 15px;
    position: absolute;
    content: '';
    width: 2px;
    height: 13px;
    background: #4B8078;
    transform: rotate(65deg) translate(4px, -2px);
}

.go.active::after{
    right: 15px;
    position: absolute;
    content: '';
    width: 2px;
    height: 13px;
    background: #4B8078;
    transform: rotate(-70deg) translate(3px, 3px);
}
